<a href="/dashboard/new-post" class="edit-link fs-4">Create New Post</a>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <div>
    {{#each posts as |post|}}
    <div>
      {{> post-info post}}
      <br>
      <a href="/dashboard/edit/{{post.id}}" class="edit-link ms-2">Edit post</a>
    </div>
    <br>
    {{/each}}
  </div>
</section>
{{/if}}
